<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
   <context-param>
  	 	<param-name>name</param-name>
  	 	<param-value>东西方不败</param-value>
  </context-param>
   <context-param>
  	 	<param-name>sex</param-name>
  	 	<param-value>人妖</param-value>
  	</context-param>
  <servlet>
    <servlet-name>ServletContext1</servlet-name>
    <servlet-class>com.heima.servletcontext.ServletContext1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletContext2</servlet-name>
    <servlet-class>com.heima.one.ServletContext2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletContext3</servlet-name>
    <servlet-class>com.heima.one.ServletContext3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletContext4</servlet-name>
    <servlet-class>com.heima.two.ServletContext4</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletContext5</servlet-name>
    <servlet-class>com.heima.three.ServletContext5</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletContext6</servlet-name>
    <servlet-class>com.heima.three.ServletContext6</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletContext7</servlet-name>
    <servlet-class>com.heima.four.ServletContext7</servlet-class>
  </servlet>




 

  <servlet-mapping>
    <servlet-name>ServletContext1</servlet-name>
    <url-pattern>/servlet/ServletContext1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContext2</servlet-name>
    <url-pattern>/servlet/ServletContext2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContext3</servlet-name>
    <url-pattern>/servlet/ServletContext3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContext4</servlet-name>
    <url-pattern>/servlet/ServletContext4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContext5</servlet-name>
    <url-pattern>/servlet/ServletContext5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContext6</servlet-name>
    <url-pattern>/servlet/ServletContext6</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContext7</servlet-name>
    <url-pattern>/servlet/ServletContext7</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
