<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>ServletResponse1</servlet-name>
    <servlet-class>com.heima.response.ServletResponse1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletResponse2</servlet-name>
    <servlet-class>com.heima.response.ServletResponse2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletResponse3</servlet-name>
    <servlet-class>com.heima.response.ServletResponse3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletResponse4</servlet-name>
    <servlet-class>com.heima.response.ServletResponse4</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletResponse5</servlet-name>
    <servlet-class>com.heima.response.ServletResponse5</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletResponse6</servlet-name>
    <servlet-class>com.heima.response.ServletResponse6</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletResponse7</servlet-name>
    <servlet-class>com.heima.response.ServletResponse7</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>ServletResponse1</servlet-name>
    <url-pattern>/servlet/ServletResponse1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletResponse2</servlet-name>
    <url-pattern>/servlet/ServletResponse2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletResponse3</servlet-name>
    <url-pattern>/servlet/ServletResponse3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletResponse4</servlet-name>
    <url-pattern>/servlet/ServletResponse4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletResponse5</servlet-name>
    <url-pattern>/servlet/ServletResponse5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletResponse6</servlet-name>
    <url-pattern>/servlet/ServletResponse6</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletResponse7</servlet-name>
    <url-pattern>/servlet/ServletResponse7</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
