<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>app.java.filter.demo3.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>app.java.filter.demo3.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>app.java.filter.upload.UploadServlet</servlet-class>
  </servlet>

  
  <filter>
  	<filter-name>AuthoFilter</filter-name>
  	<filter-class>app.java.filter.demo3.AuthoFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AuthoFilter</filter-name>
  	<servlet-name>TestServlet</servlet-name>
  </filter-mapping>

  <filter>
  	<filter-name>NoCacheFilter</filter-name>
  	<filter-class>app.java.filter.demo4.NoCacheFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>NoCacheFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>


  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
